@import url("./fonts/leaguegothic/stylesheet.css");
@import url("./styles/app.scss");

body {
  font-family: "League Gothic";
  background: #F2F2F2;
}

.container {
  padding: 0 15%;
}

@media(max-width: 768px){
  .container{
    padding: 0;
  }
}