.Splash {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & h1 {
    font-size: 4em;
  }

  &__image {
    max-height: 14em;
    height: 14em;
    width: auto;
    position: relative;
    overflow: hidden;

    & img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  & form{
    display: flex;
    flex-direction: column;

    & * {
      margin-bottom: 16px;
    }

    & input {
      font-family: "League Gothic";
      text-align: center;
      border-radius: none;
      height: 2em;
      letter-spacing: 1px;
    }

    & button {
      font-weight: 900;
      font-family: "League Gothic";
      background-color: black;
      color: white;
      height: 2em;
      letter-spacing: 1px;
      font-size: 1.2em;
      transition: all .5s ease-in-out;

      &:hover{
        background-color: white;
        color: black;
      }
    }
  }

  & label {
    font-size: 3em;
  }
}
