.Splash {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  text-align: center;

  & h1 {
    font-size: 4em;

    @media(max-width: 768px){
      font-size: 3em;
      font-weight: 100;
    }
  }

  &__image {
    max-height: 14em;
    min-height: 10em;
    height: 14em;
    width: auto;
    position: relative;
    overflow: hidden;

    & img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
