.Splash {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;

  & h1 {
    font-size: 4em;
  }

  &__image {
    max-height: 14em;
    height: 14em;
    width: auto;
    position: relative;
    overflow: hidden;

    & img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
